@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}
.content{
  margin-top: 40px;
}

.container {
  margin: 0 auto;
  max-width: 860px;
  
}

h1, h2, h3, h4, h5, h6 {
  margin:0 0 20px;
}

p, ul {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:26px;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

img {
  max-width:100%;
  border-radius: 50%;
  
}

header {
  margin-top: 20px;
  width:270px;
  float:left;
  position:fixed;
  
}
header img{
  margin-right: 20px;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
  
}

.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eae7e7;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before{
  position: absolute;
  content: "🌙";
  text-align: center;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider{
  box-shadow: 0 0 1px #2196F3;
  background-color: rgb(87, 80, 80);
  
}
input:checked + .slider:before {
  -webkit-transform:translateX(26px) ;
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "☀️";
  text-align: center;
  background-color: #ccc;
  
}
.slider.round{
  border-radius: 34px;
}
.slider.round:before{
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(171, 150, 150, 0.2);
}

.navbar a {
  color: gray;
  text-decoration: none;
  font-size: 18px;
  margin-right: 60px;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
}
.navbar p {

  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
}

.navbar a:hover {
  color: #f55;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}



